.quiz-slide-enter {
  animation: quiz-slide-enter 0.4s ease-out both;
}

@keyframes quiz-slide-enter {
  from {
    opacity: 0;
    transform: translate3d(8px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


