.timeline-fade-up {
  animation: timeline-fade-up 0.7s ease-out both;
}

@keyframes timeline-fade-up {
  from {
    opacity: 0;
    transform: translate3d(0, 12px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


